.container {
    position: relative;
    max-width: 237px;
    max-height: 180px;
    margin: auto;
    margin-bottom: -70px;
}

.woman {
    position: relative;
    margin-bottom: -100px;
    margin-left: -29px;
    z-index: 10;
    top: var(--parallax);
}

.shadow {
    margin-top: 20px;
}
